html{
  text-align: center;
  background-color: black;
}
.spes{
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
}
h1{
  font-family: Verdana;
  font-size: 42px;
  font-weight: 300;
}
.link{
  color: Aquamarine !important;
  font-size: 16px;
}
p{
  font-size: 21px;
  font-family: Verdana;
  color: Gray;
}
h3{
  text-align: right !important;
  color: Gray;
}
.typ{
  font-family: Verdana;
  font-size: 42px;
  font-weight: 300;
  color: white;
}
